*{
    margin: 0;
    padding: 0;
}

body{
    background-image: url("assets/new_bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
}

.taskbar{
    position: absolute;
    bottom: 0;
    display: flex;
    width: 100%;
    justify-content: center;
    background-color: #f3f3f3;
    z-index: 110;
    
}

.taskbar .taskbarright{
    position: absolute;
    right: 0;
    margin: 6px 0;
    height: 85%;
}

.startmenu{
    position: absolute;
    /* bottom: 50px; */
    bottom: -655px;
    display: flex;
    justify-content: center;
    width: 100%;
    transition: all 0.4s ease-in;
}

.startmenu img{
    border-radius: 10px;
}

.icons{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    margin-left: 15px;
    width: 110px;

}

.icons img{
    margin-top: 20px;
}

.icons .google{
    width: 90px;
}

.icons p{
    color: white;
    margin: 5px 0;
}

.icons .edge{
    width: 60px;
    margin-left: 12px;
}
